.btn-cta {

}

.btn-link {
  width: fit-content;
  min-height: 3rem;
  max-height: 3.5rem;
  border: 2px solid blue;
  border-radius: 7px;
  padding: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}