:root {
  --primary-font-color: #e3e3e3;
  --inputfield-font-color: #5a5a5a;
  --navbar-bg: #3b4eb8;
  --footer-bg: #1b1e32;
  --link-font-color: #28337e;
  --link-font-hover: #ffffff;
  --cta-btn-bg: #003e80;
  --cta-btn-bg-hover: #0055a9;
  --input-bg: #EFEFEF;
  --error-font-color: #b31d1d;
}
