.home__container {

  margin-top: 5rem;

  h4 {
    text-align: center;
    margin: 1rem 0;
  }

  .searchbar__container {
    display: flex;
    justify-content: center;

    .searchbar__inputfield {
      min-width: 25rem;
      width: 50rem;
      height: 3.5rem;
      border-radius: 2px;
      border: none;
      outline: none;
      padding: 0 .5rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--secondary-font-color);
      background-color: var(--input-bg);
    }

    .searchbar__btn {
      display: inherit;
      align-self: center;
      padding: 0 1rem;
      cursor: pointer;

      &:hover {
        color: var(--cta-font-hover)
      }
    }
  }
}